extends layout

block content
    h1
      | #myWharton Instagrams
    div.row
      div.col-md-8 
        map
      div.cold-md-4  
        p.lead
          | Recent Conversations:
          ol#locations.small
    p.lead.small
      | <br> 
      img(src='images/instagram.png' height='20px')
      |  #myWharton 

    div.row
      div.col-md-8
        div#pics


