doctype html
html
  head
    title= title
    //stylesheets
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    //javascript
    script(src='http://code.jquery.com/jquery-1.10.1.min.js')
    script(src='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
  body
    block content
    body
            nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
              div.navbar-header
                a.navbar-brand(href='userlist')= title
            div.container
              div

    
           